<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LIbaray_Management_System"
        tools:targetApi="31">
        <activity
            android:name=".CopyUp"
            android:exported="false" />
        <activity
            android:name=".ViewCopy"
            android:exported="false" />
        <activity
            android:name=".CopyMain"
            android:exported="false" />
        <activity
            android:name=".AuthorUp"
            android:exported="false" />
        <activity
            android:name=".ViewAuthor"
            android:exported="false" />
        <activity
            android:name=".AuthorMain"
            android:exported="false" />
        <activity
            android:name=".MemberUp"
            android:exported="false" />
        <activity
            android:name=".ViewMember"
            android:exported="false" />
        <activity
            android:name=".MemberMain"
            android:exported="false" />
        <activity
            android:name=".BranchUp"
            android:exported="false" />
        <activity
            android:name=".ViewBranch"
            android:exported="false" />
        <activity
            android:name=".BranchMain"
            android:exported="false" />
        <activity
            android:name=".PublisherMain"
            android:exported="false" />
        <activity
            android:name=".Publisher"
            android:exported="false" />
        <activity
            android:name=".PublisherUp"
            android:exported="false" />
        <activity
            android:name=".ViewPublisher"
            android:exported="false" />
        <activity
            android:name=".BookUp"
            android:exported="false" />
        <activity
            android:name=".ViewBooks"
            android:exported="false" />
        <activity
            android:name=".Book_Copy"
            android:exported="false" />
        <activity
            android:name=".Book_Authors"
            android:exported="false" />
        <activity
            android:name=".Members"
            android:exported="false" />
        <activity
            android:name=".Branch"
            android:exported="false" />
        <activity
            android:name=".Books"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>